---
#- name: Check whether SetupFiles VHDX exists on HOST (win_find)
#  win_find:
#    paths: 'C:\users\ABCD Family Admin\Documents\Hyper-V'
#    patterns: 'SetupFile.vhdx'

- debug:
    var: item.label
  with_items: "{{ disks }}"
- name: create template file
  template:
    src: autounattend.j2
    dest: C:\autounattend.xml
- name: create vhdx
  win_command: PowerShell New-VHD -Path {{ item.vhdx_path }} -BlockSizeBytes {{ item.block_size }} -LogicalSectorSizeBytes {{ item.sector_size }} -SizeBytes {{ item.size }}
  with_items: "{{ disks }}"
#         # Add-VMHardDiskDrive -VMName $VMName -Path $vhdPathArray[$i] -ControllerType SCSI -ControllerNumber 0 -ControllerLocation $i


