---
#- name: Check whether SetupFiles VHDX exists on HOST (win_find)
#  win_find:
#    paths: 'C:\users\ABCD Family Admin\Documents\Hyper-V'
#    patterns: 'SetupFile.vhdx'

- debug:
    var: item[0]
  with_items: "{{ disks }}"
- name: create template file
  template:
    src: autounattend.j2
    dest: C:\autounattend.out
